# Generated manually; run roxygen2::roxygenise() after editing @export tags.

export(build_features)
export(classify_attack)
export(classify_attacks)
export(clear_pcaps)
export(detect)
export(ids_dashboard_app)
export(init_ids_config)
export(list_pcaps)
export(run_dashboard)
export(run_ids_mcp_server)
export(run_etl)
export(run_ids_pipeline)
export(safe_max)
export(safe_num)
export(safe_pcap_filename)
export(save_uploaded_pcaps)
export(send_alerts)
export(shannon_entropy)
export(train_iforest)

import(data.table)
importFrom(stats,predict)
importFrom(stats,quantile)
importFrom(utils,head)
importFrom(utils,tail)
